{% extends "base.html.twig" %}

{% block title %}

    Movies Page

{% endblock %}

{% block body %}

    <div style="margin:0 auto; max-width: 80%;">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, nostrum!</h3>
        <img src="{{ asset('img/download.jpeg') }}" alt="">
    </div>

{% endblock %}
